*{
    padding: 0;
    margin: 0;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
}
.container h1{
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 30px;
}
.container label{
    display: block;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 5px;
}
.container input{
    padding: 10px 50px;
    border-radius: 5px;
    background-color: rgba(151, 228, 174, 0.547);
    border: none;
    margin-left: 40px;
}
.container img{
    position: absolute;
    width: 300px;
    transform: translate(50%,10%);
    top: 30px;
    opacity: 70%;
}
.container2{
    margin-left: 600px;
}
select{
    
    padding: 10px 50px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: rgba(110, 197, 129, 0.547);
    border: none;
    width: 265px;
    margin-left: 40px;
}
option{
    color: black;
}
.gender label{
    display: inline;
    margin-right: -30px;
    color: rgb(0, 0, 0);
}
 .gender .input{
    height: 15px;
    width: 15px;
}

.button {
    transform: translate(130%,50%);
    display: flex;
    border-radius: 4px;
    background-color: #1e3bf4;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 18px;
    padding: 7px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }